{% extends 'headerfooter.html' %}
{% load crispy_forms_tags %}
{% block title %}Createcars{% endblock %}
{% block custom_style %}
    
    <script>
    </script>
{% endblock %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %} 
        <div class="alert alert-danger">
            <strong>{{ field.name }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
  <form action="" method="post" enctype="multipart/form-data" >
    {%csrf_token%}
      <section class="h-100 bg-light">
                  <div class="col-xl-5">
                    <div class="card-body p-md-5 text-black ">
                      <div class="d-flex justify-content-center pt-3">
                      <h3 class="mb-5 text-uppercase">Createcars</h3>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          {{form.image}}
                          <label class="form-label" for="form3Example1">First name</label>
                        </div>
                      </div>
                          <div class="row">
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              {{form.model}}
                              <label class="form-label" for="form3Example2">Model</label>
                            </div>
                          </div>
                          
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              {{form.topspeed}}
                              <label class="form-label" for="form3Example2">Topspeed</label>
                            </div>
                          </div>
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              {{form.acceleration}}
                              <label class="form-label" for="form3Example2">Acceration</label>
                            </div>
                          </div>
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                            {{form.range}}
                            <label class="form-label" for="form3Example1n">Range</label>
                          </div>
                          </div>
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              {{form.horsepower}}
                              <label class="form-label" for="form3Example1n">Horsepower</label>
                            </div>
                          </div>
                        </div>
                        <div class="form-outline mb-4">
                          {{form.batterycapacity}}
                          <label class="form-label" for="form3Example3">Battercapacity</label>
                        </div>
                        <div class="form-outline mb-4">
                          {{form.chargingtype}}
                          <label class="form-label" for="form3Example3">Charging type</label>
                        </div>
                          <div class="form-outline mb-4">
                            {{form.slowchargetime}}
                            <label class="form-label" for="form3Example3">Slowchargetime</label>
                          </div>
                          <div class="form-outline mb-4">
                            {{form.fastchargetime}}
                            <label class="form-label" for="form3Example3">fastchargetime</label>
                          </div>
                          <div class="form-outline mb-4">
                          {{form.cartype}}
                          <label class="form-label" for="form3Example1n">Car type</label>
                          </div>

                          <div class="form-outline mb-4">
                          {{form.seat}}
                          <label class="form-label" for="form3Example1n">Seat</label>
                        </div>
                        <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-outline mb-4">
                            {{form.modelyear}}
                            <label class="form-label" for="form3Example1n">Model years</label>
                          </div>
                          </div>
                        </div>
                        <div class = "d-flex justify-content-center pt-3">
                          <button type="submit" class="btn btn-warning btn-lg ms-2" onclick="return confirm('ยืนยันส่งข้อมูล?')"><i class="fa fa-save"></i> Submit form</button>
                          </div>
                        </div>
                    </div>
                    
                  
                                    
      </section>
    </form>
{% endblock %}